@charset "UTF-8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root{
    --verde-escuro:rgb(55, 82, 55);
    --bege: rgb(194, 177, 147);
    --vinho: rgb(110, 45, 45);
}

body{
    background-color: rgb(55, 82, 55);;}

header{
    background-color: rgb(55, 82, 55);}

h2{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.522);
}

h1, h2{
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.611);
}

header > h1{
    padding: 40px;
    text-align: center;
    color: rgb(194, 177, 147);
    font-size: 2.8em;
}
span#burg{
    background-color: var(--bege);
    color: rgb(55, 82, 55);;
    display: block;
    text-align: center;
    padding: 10px;
}

span#burg:hover{
    cursor: pointer;
    background-color: var(--vinho);
    color: rgb(194, 177, 147);
}

menu{
    display: none;
    
}

menu > ul{
    list-style-type: none;
    }

    menu li{
        display: block;
    }


menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--bege);
    color: var(--verde-escuro);
    text-align: center;
    margin-top: 2px;
    
}

menu a:hover{
    background-color: var(--vinho);
    color: var(--bege);
    transition: 0.7s;
    text-decoration: underline;}

main h2{
    text-align: center;
    padding: 20px;
    color: rgb(194, 177, 147);
    background-color: var(--vinho);
    width: auto;
    margin:20px;
    border-radius: 20px;
    font-size: 2em;
}

main{
width: 90%;
max-width: 900px;
background-color: rgb(194, 177, 147);
margin: auto;
padding: 15px;
border-radius: 20px;
margin-top: 25px;




article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;}
}