@charset "UTF-8";

:root{
    --verde-escuro:rgb(55, 82, 55);
    --bege: rgb(194, 177, 147);
    --vinho: rgb(110, 45, 45);
}
 *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;}

body, html{
    background-image:linear-gradient( rgb(55, 82, 55), rgba(0, 0, 0, 0.75));
    height: 100vh;
    width: 100vw;}

main{
    position: relative;
    height: 100vh;
    width: 100vw;}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.568);
    background-color: var(--bege);
    width: 250px;
    height: 578px;
    border-radius: 20px;
    transition: width 0.6s, height 0.6s;
    transition-timing-function: ease;}

section#login > div#imagem{
    background: url(../imagens/fundo.jpg);
    height: 255px;
    display: block;
    background-size: cover;
    background-position: top center;}

section#login > div#formulario{
    display: block;
    padding: 10px;}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;}

div#formulario > p{
    font-size: 0.8em;}

form > div.campo{
    background-color: var(--vinho);
    display: block;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border-radius: 5px;}

div.campo > label{
    display: none;}


form > input[type=submit]{
    display: block;
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    background-color: var(--bege);
    border: solid var(--vinho);
    border-radius: 5px;
    cursor: pointer;}

form > input[type=submit]:hover{
    background-color: var(--vinho);
    color: var(--bege);
    border: solid var(--vinho);}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--bege);
    border: solid var(--vinho);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin-top: 6px;
    padding-top: 6px;}

form > a.botao > span{
    font-size: 1em;
    text-align: center;}

form > a.botao:hover{
    background-color: var(--vinho);
    color: var(--bege);}
