@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

@keyframes tracking-in-expand {
0% {
    letter-spacing: -0.5em;
    opacity: 0;}

100% {
    letter-spacing: normal;
    opacity: 1;}
}

:root{
    --verde-escuro:rgb(55, 82, 55);
    --bege: rgb(194, 177, 147);
    --vinho: rgb(110, 45, 45);}

 *{
    font-family: "Share Tech", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;}

body, html{
    background-image:linear-gradient( rgb(55, 82, 55), rgba(0, 0, 0, 0.75));
    height: 100vh;
    width: 100vw;}

main{
    position: relative;
    height: 100vh;
    width: 100vw;}

#texto{
    position: center;
    margin: auto;}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.568);
    background-color: var(--bege);
    width: 250px;
    height: 578px;
    border-radius: 20px;
    transition: width 0.6s, height 0.6s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);}

section#login > div#imagem{
    background: url(../imagens/fundo.jpg);
    height: 255px;
    display: block;
    background-size: cover;
    background-position: top center;}

section#login > div#formulario{
    display: block;
    padding: 10px;}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;}




div#formulario > h1:hover{
    animation: tracking-in-expand 1s ease;
}

div#formulario > p{
    font-size: 0.8em;
    text-align: center;}

form > div.campo{
    background-color: var(--vinho);
    display: block;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    padding-right: 5px;
    border-radius: 8px;}

div.campo > label{
    display: none;}

div.campo > span{
    color: var(--bege);
    font-size: 2em;
    width: 40px;
    padding: 5px;}

div.campo > input:focus-within{
    background-color: white;}

div.campo > input{
    background-color: var(--bege);
    font-size: 1em;
    width: calc(100% - 45px) ;
    height: 70%;
    border: none;
    border-radius: 8px;
    width: calc(100% - 45px);
    transform: translateY(-10px);}

form > input[type=submit]{
    display: block;
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    background-color: var(--bege);
    border: solid var(--vinho);
    border-radius: 8px;
    cursor: pointer;}

form > input[type=submit]:hover{
    background-color: var(--vinho);
    color: var(--bege);
    border: solid var(--vinho);}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--bege);
    border: solid var(--vinho);
    border-radius: 8px;
    text-decoration: none;
    color: black;
    margin-top: 6px;
    padding-top: 6px;}

form > a.botao > span{
    font-size: 1em;
    text-align: center;}

form > a.botao:hover{
    background-color: var(--vinho);
    color: var(--bege);}
